{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Prakash Jha - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Curriculum Vitae of Prakash Jha." />
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
	<div id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="{% static 'images/prakashjha.jpg' %}" alt="Prakash Jha" />
			</div>

			<div id="name">
				<h1 class="quickFade delayTwo">Prakash Jha</h1>
				<h2 class="quickFade delayThree">Python Django Developer</h2>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li>e: <a href="mailto:joe@bloggs.com" target="_blank">prakashjhakk.pj@gmail.com</a></li>
					<li>w: <a
							href="https://www.youtube.com/channel/UCT6_sDn_QfBeiOMQkFJFxkg/about">https://www.youtube.com/UNSTOPPABLE
							JHA</a></li>
					<li>m:+91-7979848479</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">
			<section>
				<article>
					<div class="sectionTitle">
						<h1>Personal Profile</h1>
					</div>

					<div class="sectionContent">
						<p>I am hard working Bsc graduate with a overall percentage of 57 %.
							Along with my degree, I completed Python,django,Html,restful apis courses on sololearn and
							varius other online educational platform like Youtube help me alot in building concepts and
							varius skills in those mention above.During Learning Period i have completed many projects
							using those skills that helped me becoming a good programmer.Apart from these i am also a
							part-time Youtuber and owner of channel named 'UNSTOPPABLE JHA'.</p>
					</div>
				</article>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Work Experience</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>My First Awesome  Website</h2>
						<p class="subDetails">using html,css and bootstrap</p>
						<p> The project was to build up to showcase the awesome UI design website using Html and bootstrap in which include various designs and techniques made through bootstrap.</p>
					</article>

					<article>
						<h2>Tuitions</h2>
						<p class="subDetails">home tution and outdoor tution </p>
						<p> I have teaching experience of students from classes 1 to 10th of about 2-3 years. </p>
					</article>

					<article>
						<h2>Data-entry Operator</h2>
						<p class="subDetails">freelancer</p>
						<p>-I have worked as a data entry operator in a freelancing company named Shekhar Infotech Ltd for 3 months.</p>
					</article>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Key Skills</h1>
				</div>

				<div class="sectionContent">
					<ul class="keySkills">
						<li>Python (Basic) </li><br>
						<li>Django(Expert)</li><br>
						<li>PostgresqlDB(learning)</li><br>
						<li>Bootstrap(learning)</li><br>
						<li>Html</li><br>
						<li>CSS(learning)</li><br>
						<li>Django Restful APIs(learning)</li><br>
						
					</ul>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Education</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>B.R.Ambedkar University, Muzaffarpur</h2>
						<p class="subDetails">B.sc Chemistry (honors)</p>
						<p>I am hard working Bsc graduate with a overall percentage of 57 %.</p>
					</article>

					<article>
						<h2>BSEB(Bihar)</h2>
						<p class="subDetails">Senior Secondary(Pre Engineering)</p>
						<p>I have completed senior secondary education with aggregate 68.6%.</p>
					</article>
				</div>
				<div class="clear"></div>
			</section>

		</div>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
</body>

</html>